of_v0.8.4_vs_release/libs/openFrameworksCompiled/project/vs/obj/
Encounter#/Twitter_twitinvi/Twitter_twitinvi/bin/Release/
Encounter#/Twitter_twitinvi/Twitter_twitinvi/obj/Release/
of_v0.8.4_vs_release/apps/myApps/OpenEncounters/obj/Debug/link.command.1.tlog
of_v0.8.4_vs_release/apps/myApps/OpenEncounters/obj/
of_v0.8.4_vs_release/apps/myApps/OpenEncounters/bin/OpenEncounters_debug.exp
of_v0.8.4_vs_release/libs/openFrameworksCompiled/lib/vs/openframeworksLib_debug.bsc
*.opensdf
